body{
  background-color:#fff5ee;
  color
    font-family:Time New Roman, Helvetica, Sans-serif:
    margin: 10% 20%;
}
.exp-header {
  text-transform: uppercase;
  border-bottom: 1px solid
}
.title {
  text-transform: uppercase;
  border-bottom: 1px solid
}
.Experience {
  text-transform: uppercase;
  border-bottom: 1px solid
}
.military{
  text-transform: uppercase;
  border-bottom: 1px solid
}
